.item {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #368a01;
  width: 100%;
  padding-bottom: 4px;
}

.header h2 {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
}

.wrapper {
  display: flex;
  width: 520px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.date {
  color: #fff;
  text-align: right;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
}

.user {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #368a01;
  display: flex;
  height: 28px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.backBtn {
  width: 106px;
  border-radius: 8px;
  display: flex;
  height: 44px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4.5%;
  text-underline-offset: 16%;
  text-underline-position: from-font;
  cursor: pointer;
}
