.input {
  border-radius: 8px;
  border: 1px solid #fff;
  display: flex;
  width: 240px;
  height: 44px;
  padding: 8px 24px;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input::placeholder {
  color: #fff;
}
