@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Open+Sans&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('/Home.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
