.app {
  display: flex;
  padding: 40px 40px 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.main {
  width: 100%;
}

.postsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.button {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #368a01;
  display: flex;
  height: 44px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid #368a01;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #fff;
}
