.form {
  display: flex;
  /* width: 600px; */
  /* padding: 40px 40px 80px 40px; */
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* border-radius: 8px; */
  /* background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2.5px); */
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
}
.formGroup label {
  margin-bottom: 4px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.selectGroup {
  position: relative;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 26px;
  width: 44px;
  height: 44px;
  background-image: url('/arrow.svg');
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.input,
.textarea,
.select {
  display: flex;
  width: 520px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #fff;
  height: 44px;
  align-self: stretch;
  background-color: transparent;
  padding: 10px 12px;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select option {
  background-color: #363638;
  color: #fff;
}

.textarea {
  height: 200px;
  resize: none;
  align-self: stretch;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.submitButton {
  border-radius: 8px;
  background: #368a01;
  display: flex;
  height: 44px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: 1px solid #368a01;
  cursor: pointer;
  color: #fff;
}

.submitButton:hover {
  border: 1px solid #fff;
}

.submitButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.cancelButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cancelButton:hover {
  border: 1px solid #368a01;
  color: #368a01;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}
